.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 20px;
    border: 1px solid gray;
}


.slider_heading{
    display: flex;
    justify-content: space-between;
}

.slider_heading input{
    display: flex;
    align-self: center;
    height: 30px;

}

.container_calculator{
    display: flex;
    justify-content: space-between;
}

.calculator_sliders{
    width: 600px;
}

.claculator_graph{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
    margin-left: 20px;
}

.calculated_data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {

    .container_calculator{
     flex-direction: column;
    }
    
}

@media only screen and (max-width: 650px) {

    .calculator_sliders{
        width: 300px;
    }
    
}
  